<div>
  <% flash.each do |message_type, message| %>
    <%= content_tag :div, message, class: message_type %>
  <% end %>
</div>

<h1>welcome to Bookers!!</h1>
<p>In Bookers,<br>
you can share and exchange your opinions , inpressions , and emotions<br>
about various books!</p>